<div id="small-text" class="fixed top-2 left-2 text-[8px] text-boquer-blue">Boquercom</div>

<div id="stream_created" class="mt-10 px-4">
  <h1 class="text-3xl font-bold">Live Translation for Event ID: <%= @project_id %></h1>
  <p class="mt-4 text-lg">
    Here you can see the live translation for your event.
  </p>    
</div>
